<h1>Admin::Genres#edit</h1>
<p>Find me in app/views/admin/genres/edit.html.erb</p>
<%= render 'template/error_str', record: @genre %>
<%= form_with model: @genre,url: admin_genre_path(@genre.id) do |f| %>
    <h4>ジャンル名</h4>
    <%= f.text_field :name %>
    <%= f.submit 'Create Book',class:"btn btn-success" %>
<% end %>